<!DOCTYPE html>
<html lang="en">
   <head>
      {% with place="Home" %} {% include "general/head.html" %} {% endwith %}
      <section class="text-gray-400 bg-gray-900 body-font">
         <div
            class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
            >
            <!--img
               class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
               alt="hero"
               src="https://cdn.discordapp.com/attachments/925374235797495829/925390662101270578/LNS_TEXT_BLACK.png"
               /-->
            <img
               class=""
               alt="hero"
               src="https://media.discordapp.net/attachments/925374235797495829/939515277232734288/Lacan_Logo_Transparent.png" width="300" height="400"
               />
            <div class="text-center lg:w-2/3 w-full">
               <h1
                  class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white"
                  >
                  Lacan NTSport
               </h1>
               <p class="leading-relaxed mb-8">
                  Lacan NTSport is a bot based on the typing game, <a href="https://www.nitrotype.com/" style="color:red" target="_blank">Nitro Type.</a> <br>It was built to help bring Nitro Type stats with rich information.
               </p>
               <div class="flex justify-center">
                  <button
                     class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg fab fa-discord"
                     >
                  <a href="/invite" style="font-weight:bold" target="_blank"> Add To Discord</a>
                  </button>
                  <button
                     class="ml-4 inline-flex text-white bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg fas fa-users"
                     >
                  <a href="/support" target="_blank"> Support Server</a>
                  </button>
               </div>
            </div>
         </div>
      </section>
      <hr />
      <section class="text-gray-400 body-font bg-gray-900">
         <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20">
               <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                  <h1
                     class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white"
                     >
                     Features
                  </h1>
                  <div class="h-1 w-20 bg-indigo-500 rounded"></div>
               </div>
            </div>
            <div class="flex flex-wrap -m-4">
               <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                     <img
                        class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://cdn.discordapp.com/attachments/856494376652767262/933118903385751552/communityIcon_t6gn72xw7b571.png"
                        alt="content"
                        />
                     <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                        NitroType
                     </h2>
                     <p class="leading-relaxed text-base">
                        Interact with the website NitroType to view a racer's stats, team's stats, and much more! 
                     </p>
                  </div>
               </div>
               <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                     <img
                        class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://media.discordapp.net/attachments/856494376652767262/933024356332892300/unknown.png?width=665&height=499"
                        alt="content"
                        />
                     <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                        Competitions
                     </h2>
                     <p class="leading-relaxed text-base">
                        Create a custom competition for a team with a live tracker and leaderboard!
                     </p>
                  </div>
               </div>
               <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                     <img
                        class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://cdn.discordapp.com/attachments/856494376652767262/933025091334328330/unknown.png"
                        alt="content"
                        />
                     <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                        Economy
                     </h2>
                     <p class="leading-relaxed text-base">
                        This category offers tons of Games & Fun for a TRUE Nitrotype Fan.
                     </p>
                  </div>
               </div>
               <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                     <img
                        class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://cdn.discordapp.com/attachments/856494376652767262/933029262427054150/unknown.png"
                        alt="content"
                        />
                     <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                        Premium
                     </h2>
                     <p class="leading-relaxed text-base">
                        Premium is a one time purchase for your server.
                        It makes your server appearance a lot better.
                     </p>
                  </div>
               </div>
               <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                     <img
                        class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://cdn.discordapp.com/attachments/856494376652767262/933033546300407819/unknown.png"
                        alt="content"
                        />
                     <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                        Useful
                     </h2>
                     <p class="leading-relaxed text-base">
                        Get a more in-depth information about the bot and it's uses.
                     </p>
                  </div>
               </div>
               <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                     <img
                        class="h-40 rounded w-full object-cover object-center mb-6"
                        src="https://cdn.discordapp.com/attachments/856494376652767262/933042375394217985/stsmall507x507-pad600x600f8f8f8.png"
                        alt="content"
                        />
                     <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                        More!?
                     </h2>
                     <p class="leading-relaxed text-base">
                        We're so happy and excited to announce we will be adding more commands to the bot!
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <hr />
      <section class="text-gray-400 bg-gray-900 body-font">
         <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4 text-center">
               <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                  <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
                     <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="text-indigo-400 w-12 h-12 mb-3 inline-block"
                        viewBox="0 0 24 24"
                        >
                        <path d="M8 17l4 4 4-4m-4-5v9"></path>
                        <path
                           d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"
                           ></path>
                     </svg>
                     <h2 class="title-font font-medium text-3xl text-white">700+</h2>
                     <p class="leading-relaxed">Guilds</p>
                  </div>
               </div>
               <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                  <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
                     <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="text-indigo-400 w-12 h-12 mb-3 inline-block"
                        viewBox="0 0 24 24"
                        >
                        <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                     </svg>
                     <h2 class="title-font font-medium text-3xl text-white">80k+</h2>
                     <p class="leading-relaxed">Total Users</p>
                  </div>
               </div>
               <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                  <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
                     <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="text-indigo-400 w-12 h-12 mb-3 inline-block"
                        viewBox="0 0 24 24"
                        >
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                     </svg>
                     <h2 class="title-font font-medium text-3xl text-white">5k+</h2>
                     <p class="leading-relaxed">Registered Users</p>
                  </div>
               </div>
               <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                  <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
                     <svg
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        class="text-indigo-400 w-12 h-12 mb-3 inline-block"
                        viewBox="0 0 24 24"
                        >
                        <path
                           d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-28-2-4 1-4 1zM4 22v-7"
                           ></path>
                     </svg>
                     <h2 class="title-font font-medium text-3xl text-white" >3k+</h2>
                     <p class="leading-relaxed">Channels</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer class="text-gray-400 bg-gray-900 body-font">
         <div
            class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
            >
            <a
               class="flex title-font font-medium items-center md:justify-start justify-center text-white"
               >
            <img
               src="https://media.discordapp.net/attachments/925374235797495829/939515277232734288/Lacan_Logo_Transparent.png"
               width="40"
               height="40"
               />
            <span class="ml-3 text-xl">Lacan</span>
            </a>
            <p
               class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"
               >
               © 2022 All Rights Reserved. @Lacan NTSport Team
            </p>
            <span
               class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
               >
            <a
               href="https://top.gg/bot/713352863153258556/vote"
               class="ml-3 text-gray-400"
               >
            <i class="fab fa-discord"></i>
            </a>
            </span>
         </div>
      </footer>
      <noscript>
         Please enable JavaScript in your browser, to view this page properly!
      </noscript>
      <script src = "lnschat.js"> </script>
   </body>
</html>
<style>
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  /* background-color: #f00; */
  background-image: url("https://lorempixel.com/1366/698/food/");
  background-size: cover;
}

.header-inner {
  text-align: center;
  color: #ff3f34;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, .8);
}

.header-inner h1 {
  font-family: "Great Vibes", cursive;
  font-size: 130px;
}

.header-inner form input[type="search"] {
  position: relative;
  width: 500px;
  border: none;
  padding: 15px;
  border-radius: 27px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
  z-index: 11;
}
.header-inner form input[type="search"]:focus {
  outline: none;
}

.header-inner form input[type="search"]:focus + div {
  z-index: 1;
  opacity: 1;
}

::placeholder {
  color: #666;
  font-weight: 400;
}
</style>
