<!DOCTYPE html>
<html lang="en">
  <style>
    html,body {

    margin:0;

    padding:0;

    overflow-x:hidden;

}
    </style>
  <head>
   {% with place="ToS" %} {% include "general/head.html" %} {% endwith %}
  </head>
  <section class="text-gray-400 body-font bg-gray-900">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <div
            class="flex flex-wrap w-full mb-20 flex-col items-center text-center"
          >
            <h1
              class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white"
            >
              Privacy Policy & ToS
            </h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-opacity-80">
              By using the bot, You agree to our Privacy Policy and Tos
            </p>
            <br />
            <div class="flex justify-left">
              <button
                class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
              >
                <a href="#privacy-policy">Privacy Policy</a>
              </button>
              <button
                class="ml-4 inline-flex text-white bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg"
              >
                <a href="#tos">ToS</a>
              </button>
            </div>
            <div id="all">
              <div class="flex flex-wrap -m-4" id="privacy-policy">
                <h1
                  class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white text-center w-full mx-auto"
                >
                  <br />
                  Privacy Policy
                </h1>
                <div class="xl:w-1/3 md:w-1/2 p-4">
                  <div
                    class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                  >
                    <h2
                      class="text-lg text-indigo-400 font-medium title-font mb-2"
                    >
                      Which type of data do we store?
                    </h2>
                    <p class="leading-relaxed text-base">
                      We do not collect any personal information relating your
                      accounts like Passwords or any other Credentials. The data
                      we collect includes the User IDs, Server IDs, Channel IDs, Nitrotype Accounts
                      and Some Role IDs. The bot never requests any personal
                      data of the users and any act that breaks Discord's ToS is discouraged by us.
                    </p>
                  </div>
                </div>
                <div class="xl:w-1/3 md:w-1/2 p-4">
                  <div
                    class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                  >
                    <h2
                      class="text-lg text-indigo-400 font-medium title-font mb-2"
                    >
                      Why do we need this data?
                    </h2>
                    <p class="leading-relaxed text-base">
                      The data is required for the proper functioning of the bot.
                      Without this data, our bot will not be able to perform
                      these activities and thus making the features inaccessible
                      for users.
                    </p>
                  </div>
                </div>
                <div class="xl:w-1/3 md:w-1/2 p-4">
                  <div
                    class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                  >
                    <h2
                      class="text-lg text-indigo-400 font-medium title-font mb-2"
                    >
                      How do we use this data?
                    </h2>
                    <p class="leading-relaxed text-base">
                      The data is used in order to make it easier to find other people's Nitrotype Accounts. Your Data is private and stored in a database which is not accessible by the public.
                    </p>
                  </div>
                </div>
                <div class="xl:w-1/3 md:w-1/2 p-4">
                  <div
                    class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                  >
                    <h2
                      class="text-lg text-indigo-400 font-medium title-font mb-2"
                    >
                      How long do we store your data?
                    </h2>
                    <p class="leading-relaxed text-base">
                      The data is stored for an infinite amount of time. However, this data package does not contain any sensitive information and you can delete your data at any time yourself by running commands through the bot.
                    </p>
                  </div>
                </div>
                <div class="xl:w-1/3 md:w-1/2 p-4">
                  <div
                    class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                  >
                    <h2
                      class="text-lg text-indigo-400 font-medium title-font mb-2"
                    >
                      Who do we share the data with?
                    </h2>
                    <p class="leading-relaxed text-base">
                      We never share your data with anyone else. Your data remains private and is not given away to third partners.
                    </p>
                  </div>
                </div>
                <div class="xl:w-1/3 md:w-1/2 p-4">
                  <div
                    class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                  >
                    <h2
                      class="text-lg text-indigo-400 font-medium title-font mb-2"
                    >
                      Got concerns or Queries?
                    </h2>
                    <p class="leading-relaxed text-base">
                      If you have any concerns or queries relating your privacy, our bot or if you want your data to be removed,
                      You can contact us directly in our <a href="/support/" style="color:#fff">Support</a> Server.
                    </p>
                  </div>
                </div>
                <div class="flex flex-wrap -m-4" id="tos">
                  <h1
                    class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white text-center w-full mx-auto"
                  >
                    <br />Terms of Service
                  </h1>
                  <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div
                      class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                    >
                      <h2
                        class="text-lg text-indigo-400 font-medium title-font mb-2"
                      >
                        Introduction to Lacan NTSport
                      </h2>
                      <p class="leading-relaxed text-base">
                        Lacan NTSport is a multi-pupose bot which has been                             created by ⚡₸𝒓𝒚⟅𝓦𝖎𝐧ᔦ𝑮𝒍𝒐𝒓𝒚⚡ and Malakai, on May
                        22nd, 2020. No matter whether you want to play games, host Nitrotype Competitions or simply view Nitrotype Stats, Lacan NTSport offers a variety of <a href="/commands/" style="color: #fff">Commands</a>. For more on information, feel free to join our <a href="/support/" style="color: #fff">Support</a> Server.
                      </p>
                    </div>
                  </div>
                  <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div
                      class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                    >
                      <h2
                        class="text-lg text-indigo-400 font-medium title-font mb-2"
                      >
                        Legal Age
                      </h2>
                      <p class="leading-relaxed text-base">
                        You may not use Lacan NTSport or any of Lacan's services
                        if you're under the legal age (13 Years) to use Discord. This specific age only applies to the United States. Discord features a full list of countries where you have to be older in order to use Discord.
                        If you are caught being underaged, we have full rights to ban
                        you from our bot and services and your account will be
                        reported to Discord's Safety Team.
                      </p>
                    </div>
                  </div>
                  <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div
                      class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                    >
                      <h2
                        class="text-lg text-indigo-400 font-medium title-font mb-2"
                      >
                        Proper Usage
                      </h2>
                      <p class="leading-relaxed text-base">
                        You may not abuse the bot's services. "Abusing" in this context means for example spamming errors, trying to break the bot
                        by continued use of potentially bugged commands, ... Lacan NTSport or any of Lacan's services is only open to those who use them as thought to. However, if any attempts are recorded, this will result in a lifetime ban from
                        using any bot command.
                      </p>
                    </div>
                  </div>
                  <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div
                      class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                    >
                      <h2
                        class="text-lg text-indigo-400 font-medium title-font mb-2"
                      >
                        Prohibitions
                      </h2>
                      <p class="leading-relaxed text-base">
                        You may not use Lacan NTSport or any of its Services for any
                        unauthorised acts, or any act that
                        violates Discord's Terms of Service.
                      </p>
                    </div>
                  </div>
                  <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div
                      class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                    >
                      <h2
                        class="text-lg text-indigo-400 font-medium title-font mb-2"
                      >
                        Changes to Privacy Policy and ToS
                      </h2>
                      <p class="leading-relaxed text-base">
                        The development team of Lacan NTSport has all the rights to change the
                        Privacy Policy and ToS at anytime, without any prior
                        notice to any server or user. Individuals may request their
                        data deletion in the Official <a href="/support" style="color:#fff">Support</a> Server.
                      </p>
                    </div>
                  </div>
                  <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div
                      class="border border-gray-700 border-opacity-75 p-6 rounded-lg"
                    >
                      <h2
                        class="text-lg text-indigo-400 font-medium title-font mb-2"
                      >
                        Intellectual Property
                      </h2>
                      <p class="leading-relaxed text-base">
                        All
                        of Lacan NTSport's services are Copyrights and Intellectual
                        Properties of Lacan's <a href="/team/" style="color:#fff">Developer Team</a>. Trying to
                        declare these Services as your own will result in a
                        lifetime ban from Lacan's services and your account will be
                        reported to Discord under the act of Fraud.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <footer class="text-gray-400 bg-gray-900 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-white"
        >
          <img
            src="https://media.discordapp.net/attachments/925374235797495829/939515277232734288/Lacan_Logo_Transparent.png"
            width="40"
            height="40"
          />
          <span class="ml-3 text-xl">Lacan</span>
        </a>
        <p
          class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"
        >
          © 2022 All Rights Reserved. @Lacan NTSport Team
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a href="https://github.com/Try2Win4Glory/Lacan-NTSport" class="ml-3 text-gray-400">
            <i class="fab fa-github"></i>
          </a>
          <a
            href="https://top.gg/bot/713352863153258556/vote"
            class="ml-3 text-gray-400"
          >
            <i class="fab fa-discord"></i>
          </a>
        </span>
      </div>
    </footer>
    <noscript>
      Please enable JavaScript in your browser, to view this page properly!
    </noscript>
  </body>
</html>
