
        {% for x in players %}
        <tr>
          <td class='table-cell rank table-border '>
                <center><span class="h3 tc-ts">
{% if players.index(x)+1 == 1 %}
                  <img src="https://cdn.discordapp.com/attachments/800326420924465153/969475174007197787/unknown.png">
{% elif players.index(x)+1 == 2 %}
                  <img src="https://cdn.discordapp.com/attachments/800326420924465153/969475213530112000/unknown.png">
{% elif players.index(x)+1 == 3 %}
                  <img src="https://cdn.discordapp.com/attachments/800326420924465153/969475244094017536/unknown.png">
{% else %}
                  {{players.index(x)+1}}
{% endif %}
                </span></center>
            </td>
               <center><div class='player-main'>
                    </div></center>
            </td>
        <td>
          <img src="{{x[3]}}" style="float:center"></img></td>

<td>
  {% if x[5]=='gold' %}
    <div class="name"><a style="text-decoration:none; float:center" href="https://www.nitrotype.com/racer/{{x[0]}}" target="_blank">{{x[1]}}</a>
    <img src="https://cdn.discordapp.com/attachments/925374235797495829/980418436092010516/ezgif-1-1aa8f50450.png" width="25" hspace="5" style="float:left"></img>
  {% else %}
    <div class="name"><a style="text-decoration:none; float:center; color: white !important;" href="https://www.nitrotype.com/racer/{{x[0]}}" target="_blank">{{x[1]}}</a>
  {% endif %}
  <br><i style="font-weight: 400; float:center !important;">"{{x[4]}}"</i>
        </td>
</center>
<td>
        <div class="username"><a  href="https://www.nitrotype.com/racer/{{x[0]}}" target="_blank" style="display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden">{{x[0]}}</a>
        </td>
        <td><center>
            {{x[2][0]}}
        </center></td>
        <td><center>
            {{x[2][2]}} 
        </center></td>
        <td><center>
            {{x[2][3]}}%
        </center></td>
        <td><center>
            {{x[2][1]}}
        </center></td>
        
    <center>{% endfor %}



<style>
  
.table-bronze {
    border-color: rgba(236, 167, 44, 0.5);
}
.player-car {
    -webkit-text-size-adjust: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
    border-collapse: separate;
    border-spacing: 0px;
    text-align: inherit;
    font-size: 14px;
    box-sizing: inherit;
    min-width: 90px;
    flex: 0 1 auto;
    margin-right: 15px;
}
.player-main {
    -webkit-text-size-adjust: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
    border-collapse: separate;
    border-spacing: 0px;
    text-align: inherit;
    font-size: 14px;
    box-sizing: inherit;
    display: flex;
    align-items: center;
}
</style>
