<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://cdn.discordapp.com/attachments/925374235797495829/925390662101270578/LNS_TEXT_BLACK.png"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/home.css">
    <meta
      name="description"
      content="Lacan NTSport is a bot based on the typing game, Nitro Type. It was built to help bring Nitro Type stats with rich information."
    />
    <meta name="author" content="LNS" />
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/attachments/925374235797495829/925390662101270578/LNS_TEXT_BLACK.png"
    />
    <meta property="og:url" content="https://LNS-Website.a1sauces.repl.co" />
    <meta name="theme-color" content="#FF0000" />
    <title>
      Lacan NTSport
    </title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fe5629e38b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body oncontextmenu="return false">
    <header class="text-gray-400 bg-gray-900 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-white mb-4 md:mb-0"
        >
          <img
            src="https://cdn.discordapp.com/attachments/925374235797495829/925390662101270578/LNS_TEXT_BLACK.png"
            width="40"
            height="40"
          />
        </a>
        <nav
          class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="/" class="mr-5 hover:text-white">Home</a>
          <a href="/commands" class="mr-5 hover:text-white">Commands</a>
          <a href="/invite" class="mr-5 hover:text-white">Invite LNS</a>
          <a href="/support" class="mr-5 hover:text-white">Support Server</a>
          <a href="/privacy" class="mr-5 hover:text-white">Privacy Policy</a>
          <a href="/team" class="mr-5 hover:text-white">About Us</a>
        </nav>
        {% if not logged_in %}
        <a href="login" class="svelte-1wqnw5n"><button class="svelte-1wqnw5n"><i class="fa fa-sign-in"></i>
                        Login</button></a>
        {% else %}

        <div class="dropdown" style="float: right">
        <a href="dashboard" class="svelte-1wqnw5n"><button class="svelte-1wqnw5n"><i class="fa fa-sign-in"></i>
                        Dashboard</button></a>
        {% endif %}

        
      </div>
    </header>
    <hr />
    <section class="text-gray-400 bg-gray-900 body-font">
      <div
        class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
      >
        <!--img
          class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
          alt="hero"
          src="https://cdn.discordapp.com/attachments/925374235797495829/925390662101270578/LNS_TEXT_BLACK.png"
        /-->
        <img
          class=""
          alt="hero"
          src="https://media.discordapp.net/attachments/925374235797495829/939515277232734288/Lacan_Logo_Transparent.png" width="300" height="400"
        />
        <div class="text-center lg:w-2/3 w-full">
          <h1
            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white"
          >
            Lacan NTSport
          </h1>
          <p class="leading-relaxed mb-8">
            Lacan NTSport is a bot based on the typing game, <a href="https://www.nitrotype.com/" style="color:blurple">Nitro Type.</a> <br>It was built to help bring Nitro Type stats with rich information.
          </p>
          <div class="flex justify-center">
            <button
              class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg fab fa-discord"
            >
              <a href="/invite" style="font-weight:bold"> Add To Discord</a>
            </button>
            <button
              class="ml-4 inline-flex text-white bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg fas fa-users"
            >
              <a href="/support"> Support Server</a>
            </button>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <section class="text-gray-400 body-font bg-gray-900">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1
              class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white"
            >
              Features
            </h1>
            <div class="h-1 w-20 bg-indigo-500 rounded"></div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img
                class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://cdn.discordapp.com/attachments/856494376652767262/933118903385751552/communityIcon_t6gn72xw7b571.png"
                alt="content"
              />
              <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                NitroType
              </h2>
              <p class="leading-relaxed text-base">
                Interact with the website NitroType to view a racer's stats, team's stats, and much more! 
              </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img
                class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://media.discordapp.net/attachments/856494376652767262/933024356332892300/unknown.png?width=665&height=499"
                alt="content"
              />
              <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                Competitions
              </h2>
              <p class="leading-relaxed text-base">
                Create a custom competition for a team with a live tracker and leaderboard!
              </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img
                class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://cdn.discordapp.com/attachments/856494376652767262/933025091334328330/unknown.png"
                alt="content"
              />
              <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                Economy
              </h2>
              <p class="leading-relaxed text-base">
                This category offers tons of Games & Fun for a TRUE Nitrotype Fan.

              </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img
                class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://cdn.discordapp.com/attachments/856494376652767262/933029262427054150/unknown.png"
                alt="content"
              />
              <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                Premium
              </h2>
              <p class="leading-relaxed text-base">
                Premium is a one time purchase for your server.
                It makes your server appearance a lot better.
              </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img
                class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://cdn.discordapp.com/attachments/856494376652767262/933033546300407819/unknown.png"
                alt="content"
              />
              <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                Useful
              </h2>
              <p class="leading-relaxed text-base">
                Get a more in-depth information about the bot and it's uses.
              </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img
                class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://cdn.discordapp.com/attachments/856494376652767262/933042375394217985/stsmall507x507-pad600x600f8f8f8.png"
                alt="content"
              />
              <h2 class="text-lg text-indigo-400 font-medium title-font mb-4">
                More!?
              </h2>
              <p class="leading-relaxed text-base">
                We're so happy and excited to announce we will be adding more commands to the bot! Soon™
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <section class="text-gray-400 bg-gray-900 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4 text-center">
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="text-indigo-400 w-12 h-12 mb-3 inline-block"
                viewBox="0 0 24 24"
              >
                <path d="M8 17l4 4 4-4m-4-5v9"></path>
                <path
                  d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"
                ></path>
              </svg>
              <h2 class="title-font font-medium text-3xl text-white">550+</h2>
              <p class="leading-relaxed">Guilds</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="text-indigo-400 w-12 h-12 mb-3 inline-block"
                viewBox="0 0 24 24"
              >
                <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                <circle cx="9" cy="7" r="4"></circle>
                <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
              </svg>
              <h2 class="title-font font-medium text-3xl text-white">80k+</h2>
              <p class="leading-relaxed">Total Users</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="text-indigo-400 w-12 h-12 mb-3 inline-block"
                viewBox="0 0 24 24"
              >
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
              </svg>
              <h2 class="title-font font-medium text-3xl text-white">4k+</h2>
              <p class="leading-relaxed">Registered Users</p>
            </div>
          </div>
          <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
            <div class="border-2 border-gray-800 px-4 py-6 rounded-lg">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="text-indigo-400 w-12 h-12 mb-3 inline-block"
                viewBox="0 0 24 24"
              >
                <path
                  d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1zM4 22v-7"
                ></path>
              </svg>
              <h2 class="title-font font-medium text-3xl text-white">3k+</h2>
              <p class="leading-relaxed">Channels</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <footer class="text-gray-400 bg-gray-900 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-white"
        >
          <img
            src="https://media.discordapp.net/attachments/925374235797495829/939515277232734288/Lacan_Logo_Transparent.png"
            width="40"
            height="40"
          />
          <span class="ml-3 text-xl">Lacan</span>
        </a>
        <p
          class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"
        >
          © 2022 All Rights Reserved. @Lacan NTSport Team
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a
            href="https://top.gg/bot/713352863153258556/vote"
            class="ml-3 text-gray-400"
          >
            <i class="fab fa-discord"></i>
          </a>
        </span>
      </div>
    </footer>
    <noscript>
      Please enable JavaScript in your browser, to view this page properly!
    </noscript>
    <script src = "lnschat.js"> </script>
  </body>
</html>

<style>
  a.svelte-1wqnw5n.svelte-1wqnw5n {
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px 0.5em;
    border-radius: 7px;
    background-color: gray;
}

.dropdown.svelte-1wqnw5n .dropbtn.svelte-1wqnw5n {
    font-size: 16px;
    color: white;
    background-color: inherit;
    font-family: inherit;
    box-shadow: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    padding: 14px 16px;
    margin: 0px;
}

.dropdown.svelte-1wqnw5n.svelte-1wqnw5n {
    float: left;
    overflow: hidden;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
