<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://media.discordapp.net/attachments/807610389067857920/807611559605305344/Official_Lacan_NTSport_Logo.png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Lacan NTSport is a bot based on the typing game, Nitro Type. It was built to help bring Nitro Type stats with rich information."
    />
    <meta name="author" content="LNS" />
    <meta
      property="og:image"
      content="https://media.discordapp.net/attachments/807610389067857920/807611559605305344/Official_Lacan_NTSport_Logo.png"
    />
    <meta property="og:url" content="https://LNS-Website.a1sauces.repl.co/invite" />
    <meta name="theme-color" content="#0000FF" />
    <meta
      http-equiv="refresh"
      content="0; url=https://discord.com/api/oauth2/authorize?client_id=713352863153258556&permissions=1514446253281&scope=bot"
    />
    <title>LNS - Invite</title>
  </head>

  <body></body>
</html>
