<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://media.discordapp.net/attachments/807610389067857920/807611559605305344/Official_Lacan_NTSport_Logo.png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="The official Discord support server for LNS!"
    />
    <meta name="author" content="LNS Server" />
    <meta
      property="og:image"
      content="https://media.discordapp.net/attachments/807610389067857920/807611559605305344/Official_Lacan_NTSport_Logo.png"
    />
    <meta property="og:url" content="https://LNS-Website.a1sauces.repl.co/support" />
    <meta name="theme-color" content="#0000FF" />
    <meta http-equiv="refresh" content="0; url=https://discord.gg/Wj96Ehg" />
    <title>LNS - Support</title>
  </head>

  <body></body>
</html>
